<!-- Item template -->
<div class="row">
    <div class="col-sm-2">
        <!--<span class="btn-link"><a data-no-drag target=_top href="https://github.com/a5hik/ng-sortable">test no-drag href</a></span>-->
        <div class="card-image"><img src="{{card.image}}"></div>
    </div>
    <div class="col-sm-8">
        <!--<span class="btn-link"><a data-no-drag target=_top href="https://github.com/a5hik/ng-sortable">test no-drag href</a></span>-->
        <span class="card-title">{{card.title}}</span>
        <small>{{card.details}}</small>
    </div>
    <div class="col-sm-2">
        <a data-no-drag class=" removeCard pull-right btn btn-xs" ng-click="onRemove()"><span
                class="glyphicon glyphicon-remove"></span></a>
    </div>
</div>

